@{
    ViewData["Title"] = "Home Page";
}
@{
    var personModel = new PersonModel();
}
<form asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="row justify-content-start align-items-start">
        <div class="col-sm-6 mt-3">
            <div class="input-group">
                <input asp-for="@personModel.IdNumber" type="text" placeholder="شماره ملی خود را وارد کنید" class="form-control" required />
                <span class="text-danger mx-3 fw-bold" asp-validation-for="@personModel.IdNumber"></span>

            </div>
        </div>
        <div class="col-sm-8 mt-3">
            <div class="input-group">
                <input id="input-b2" name="birthFile" accept="image/jpeg" type="file" class="file" data-show-preview="false" data-show-caption="true" data-msg-placeholder="انتخاب مدرک شناسنامه" required>

            </div>
        </div>
        <div class="col-sm-8 mt-3">
            <div class="input-group">
                <input id="input-b2" name="studyFile" accept="image/jpeg" type="file" class="file" data-show-preview="false" data-show-caption="true" data-msg-placeholder="انتخاب مدرک تحصیلی" required>

            </div>
        </div>
        <div class="col-sm-8 mt-3">
            <div class="input-group">
                <input id="input-b2" name="jobFile" accept="image/jpeg" type="file" class="file" data-show-preview="false" data-show-caption="true" data-msg-placeholder="انتخاب مدرک شغلی" required>

            </div>
        </div><br />
        <div class="col-sm-8 mt-5 text-center">
            <button type="submit" class="btn btn-warning">Add</button>
        </div>
        @if (ViewBag.error != null)
        {
            <div class="col-sm-8 mt-5 text-center">
                <p class="text-danger fw-bold">@ViewBag.error</p>
            </div>
            
        }
        


    </div>
    
    
    
    
    
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
